.Task {
    height: 8vh;
    width: 100%;
    border: 2px solid #020826;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-evenly;
    margin-bottom: 1vh;
    align-self: flex-start;
}

.checkbox {
    cursor: pointer;
    height: 3vh;
    width: 3vh;
}

.completed {
    text-decoration: line-through;
}

.task-name {
    width: 30vw;
}

.due-date {
    width: 8vw;
}

.task-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: auto;
}

.task-tool-btn {
    width: 3vh;
    height: 3vh;
    
}

.task-tool-img {
    width: 2vh;
    height: 2vh;
}

.Task:hover {
    cursor: pointer;
    transform: scale(101%);
}

.low {
    background-color: #77DD77;
}

.medium {
    background-color: #FDFD96;
}

.high {
    background-color: #FF6961;
}