.Task {
    height: 8vh;
    width: 95%;
    background-color: antiquewhite;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-evenly;
}

.checkbox {
    cursor: pointer;
    height: 3vh;
    width: 3vh;
}

.task-name {
    width: 30vw;
}

.due-date {
    width: 8vw;
}

.task-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: auto;
}

.task-tool-btn {
    width: 3vh;
    height: 3vh;
    
}

.task-tool-img {
    width: 2vh;
    height: 2vh;
}

.Task:hover {
    cursor: pointer;
    transform: scale(101%);
}